*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #161616;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5em;
  color: #b3b3b3;
}

h1,
h2,
h3,
h4,
h5,
h5,
a {
  font-family: "Roboto", sans-serif;
}

h1 > a {
  font-size: 26px;
}

.light-font {
  color: white;
}

.current {
  color: #c0a062;
}

header {
  background: #161616;
  margin-bottom: 0;
}

.nav > li > span {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 15px 15px;
}

a, span {
  font-size: 18px;
}

.content-section {
  min-height: 100vh;
}

#home {
  background: url(../images/background-1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
}
#home h2 {
  font-size: 5em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 100px;
  text-shadow: 1px 1px white;
}
#home h3 {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  text-shadow: 1px 1px white;
}

#about {
  padding-top: 25vh;
}
#about h2 {
  font-size: 2em;
  color: #c0a062;
}
#about p {
  padding-top: 15px;
  font-size: 30px;
  line-height: 1.2em;
}
#about span {
  font-size: 30px;
}

#contact {
  background: url(../images/background-2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#projects h2 {
  font-size: 2em;
  color: #c0a062;
  padding-bottom: 15px;
}

.content-section .thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.content-section .thumbnail * {
  transition: all .25s;
}

.content-section .thumbnail h4 {
  font-size: 19px;
  font-weight: 400;
}

.content-section .thumbnail p {
  line-height: 24px;
}

.content-section .thumbnail:hover h4,
.content-section .thumbnail:hover p {
  color: #969696;
}

.content-section .thumbnail:hover img {
  opacity: 0.25;
}

.navbar {
  margin-bottom: 0;
}

.nav {
  border-bottom: none;
}
.nav li a {
  color: white;
}
.nav li a:focus {
  background: #161616;
}
.nav li a:hover, .nav li a:active {
  background: #161616;
  color: #c0a062;
}

h1 a {
  color: #c0a062;
}
h1 a:focus {
  background: #161616;
}
h1 a:hover, h1 a:active {
  background: #161616;
  color: #c0a062;
  text-decoration: none;
}

.icon-bar {
  border: 1px solid #c0a062;
}
